<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSourse" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/pos?useUnicode=true&amp;characterEncoding=utf-8"/>
        <property name="username" value="pos"/>
        <property name="password" value="admin"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg>
            <ref bean="dataSourse"/>
        </constructor-arg>
    </bean>

    <bean id="productDao" class="com.thoughtworks.iamcoach.pos.dao.ProductDaoImpl">
        <constructor-arg>
            <ref bean="jdbcTemplate"/>
        </constructor-arg>
    </bean>

    <bean id="productService" class="com.thoughtworks.iamcoach.pos.service.ProductServiceImpl">
        <constructor-arg>
            <ref bean="productDao"/>
        </constructor-arg>
        <constructor-arg>
            <ref bean="categoryService"/>
        </constructor-arg>
        <constructor-arg>
            <ref bean="promotionService"/>
        </constructor-arg>
    </bean>

    <bean id="categoryService" class="com.thoughtworks.iamcoach.pos.service.CategoryServiceImpl">
        <constructor-arg>
            <ref bean="categoryDao"/>
        </constructor-arg>
    </bean>

    <bean id="categoryDao" class="com.thoughtworks.iamcoach.pos.dao.CategoryDaoImpl">
        <constructor-arg>
            <ref bean="jdbcTemplate"/>
        </constructor-arg>
    </bean>

    <bean id="promotionService" class="com.thoughtworks.iamcoach.pos.service.PromotionServiceImpl">
        <constructor-arg>
            <ref bean="promotionDao"/>
        </constructor-arg>
    </bean>

    <bean id="promotionDao" class="com.thoughtworks.iamcoach.pos.dao.PromotionDaoImpl">
        <constructor-arg>
            <ref bean="jdbcTemplate"/>
        </constructor-arg>
    </bean>
</beans>